<div class="form-container center">
<h1>Change Your Path</h1>

<%= form_for current_user do |f|%>
<div>
    <label for="name">Name: </label><%= f.text_field :name, placeholder: 'name'%>
</div>
<div>
    <label for="profile_photo">Profile Photo: </label><%= f.text_field :profile_photo, placeholder: 'profile photo url' %>
</div>
<label for="current_city">Current City: </label>
<div class = 'vertical-center'>
    <div class = "columns small-9 no-padding">
        <%= f.collection_select :current_city, City.all, :id, :name_state%>
    </div>
    <div class = "columns small-3">
        <%= link_to 'Add New', new_city_path, class: 'button secondary'%>
    </div>
</div>
<%= f.submit 'Change', class: 'button'%>
<% end %>
</div>
