<% if @user == current_user %>
<h1 class = 'center welcome'>Welcome to Vagabond Tales,
    <%= @user.name %>
</h1>
<% end %>
<div class="personal-info large-4 columns">
<div class="profile-top">
    <h2><%= @user.name %></h2>
    <%= image_tag @user.profile_photo, class: 'profile-photo' %>
    </div>
    <div class="profile-bottom">
    <h4>Joined: <%= @user.created_at.to_date %></h4>
    <h4>Current City: <%= link_to @city.name, city_path(@city) %></h4>
    <div>
        <% if @posts.length > 0%>
        <h4>Gone Exploring In</h4>
        <% @city_with_post_count.each do |city, value| %>
        <div>
            <strong><%= city %>:
            </strong><%= value %> posts
        </div>
        <% end %>
        <% end %>
    </div>
    <% if @user == current_user %>
    <div class='button-container'>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button center'%>
        <% end %>
        </div>
    </div>
</div>

<div class = 'large-8 columns center'>
    <% if @user == current_user %>
    <div class="columns small-3 non-collapse"></div>
    <div class='columns small-6 medium-6 center'>


        <%= link_to 'New Post', new_post_path(@user), class: 'button center small-6 space'%>
    </div>
    <% end %>
    <div class='post'>
        <% if @posts.length > 0 %>
        <br>
        <% @posts.each do |post| %>
        <div class = 'post-header'>
        <%= image_tag post.photo, class: 'thumbnail' %>
        <h2 class = 'post-title'> <%=link_to post.title, post_path(post) %></h2>
        </div>
        <br>
        <div class = 'text-summary'><p> <%= post.text_body[0..300] %></p>
        </div>
        <%= link_to 'Read More', post_path(post)%>
        <hr>
        <%end%>
        <%end%>
    </div>

</div>
