<h1>Welcome to Vagabond Tales,
    <%= @user.name %>
</h1>
<div class="personal-info">
    <%= image_tag @user.profile_photo, height: '100' %>
    <h3>Current City:</h3><%= link_to @city.name, city_path(@city) %>
    <h3>Name:</h3><%= @user.name %>
    <h3>email:</h3><%= @user.email %>
    <h3>member since:</h3><%= @user.created_at.to_date %>
    <% if @user == current_user %>
    <div class='button-container'>
        <%= link_to 'Edit Profile', edit_user_path(@user) %>
        <%= link_to 'Add Your Story', new_user_post_path(@user)%>
        <% end %>
    </div>
</div>
<div>
  <h3><%= @user.name %>'s Active Cities</h3>
    <% @city_with_post_count.each do |city, value| %>
    <div>
        <strong><%= city %>:
        </strong><%= value %>
    </div>
    <% end %>
</div>
<div>
    <% if @posts.length > 0%>
    <h3>Posts:</h3>
    <% @posts.each do |post| %>
    <%=link_to post.title, post_path(post) %>
    <br>
    <%end%>
    <%end%>
</div>
