<h1>Welcome to Vagabond Tales, <%= @user.name %> </h1>
<div class="personal-info">
  <%= image_tag @user.profile_photo, height: '100' %>
  <h3>Current City:</h3><%= @user.current_city %>
  <h3>Name:</h3><%= @user.name %>
  <h3>email:</h3><%= @user.email %>
  <h3>member since:</h3><%= @user.created_at.to_date %>
  <div class = 'button-container'>
  <%= link_to 'Edit Profile', edit_user_path %>
  </div>
</div>
