<% if @user == current_user %>
<h1 class = 'center'>Welcome to Vagabond Tales,
    <%= @user.name %>
</h1>
<% end %>
<div class="personal-info large-4 columns">
<div class="profile-top">
    <h2><%= @user.name %></h2>
    <%= image_tag @user.profile_photo, class: 'profile-photo' %>
    </div>
    <div class="profile-bottom">
    <h4>Joined: <%= @user.created_at.to_date %></h4>
    <h4>Current City: <%= link_to @city.name, city_path(@city) %></h4>
    <div>
        <% if @posts.length > 0%>
        <h4>Gone Exploring In</h4>
        <% @city_with_post_count.each do |city, value| %>
        <div>
            <strong><%= city %>:
            </strong><%= value %> posts
        </div>
        <% end %>
        <% end %>
    </div>
    <% if @user == current_user %>
    <div class='button-container'>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'button center'%>
        <% end %>
        </div>
    </div>
</div>

<div class = 'large-8 columns posts-container'>

<% if @user == current_user %>
<div class='button-container'>
    <%= link_to 'New Post', new_post_path(@user), class: 'button center'%>
    <% end %>
</div>

    <% if @posts.length > 0 %>
    <br>
    <% @posts.each do |post| %>
    <%= image_tag post.photo, class: 'thumbnail' %>
    <h4 class = 'inline'><%=link_to post.title, post_path(post) %></h4>
    <br>
    <div class = 'text-summary'> <%= post.text_body[0..300] %></div>
    <hr>
    <%end%>
    <%end%>
</div>
