<div class="form-container center">
<h1>Edit Your Story</h1>
<p style = "font-size:1px">GET YOUR ShIT TOGETHER</p>
<%= form_for @post do |f| %>
<%= f.text_field :title, placeholder: 'title' %>
<br>
<%= f.text_field :photo, placeholder: 'image url' %>
<br>
<%= f.text_area :text_body, placeholder: 'this one time, in band camp...' %>
<br>
<%= f.submit 'Save Changes', class: 'button' %>
<% end %>
</div>
