<h1>Welcome to the Campfire</h1>
<h3>Share some stories</h3>
<% if current_user %>
<%= link_to 'tell your own', new_user_post_path(current_user) %>
<% else %>
<%= link_to 'tell your own', login_path %>
<% end %>

<% @posts.each do |post| %>
<div>
  <% if params[:city_id] %>
    <%=image_tag post.photo, height: '75'%> <h3><%= link_to post.title, request.env['PATH_INFO']+"/#{post.id}" %></h3><br>
  <% elsif current_user %>
    <%=image_tag post.photo, height: '75'%> <h3><%= link_to post.title, user_post_path(current_user,post) %></h3><br>
  <% else %>
    <%=image_tag post.photo, height: '75'%> <h3><%= link_to post.title, login_path %></h3><br>
  <% end %>
  <%= post.text_body %>
</div>
<%end%>
