<h1>Tell Your Story</h1>
<%= form_for @post do |f| %>
<%= f.text_field :title, placeholder: 'title' %>
<br>
<% unless params[:city_id] %>
<%= f.collection_select :city_id, City.all, :id, :name%>
<%= link_to 'Add New City', new_city_path %>
<br>
<% else %>
<%= f.hidden_field :city_id, :value => params[:city_id]%>
<% end %>

<%= f.text_field :photo, placeholder: 'image url' %>
<br>
<%= f.text_area :text_body, placeholder: 'this one time, in band camp...' %>
<br>
<%= f.submit %>
<% end %>
