<div class='personal-info'>
  <div class ='main-photo'>
    <%= image_tag @post.photo %>
  </div>
  <h2 class = 'post-title'><%= @post.title %></h2>
  <h5>Written From: <%= link_to @post.city.name, city_path(@post.city) %></h5>
  <h5>Author: <%= link_to @user.name, user_path(@user)%></h5>
  <div class = 'paragraphs'>
    <p><%= @post.text_body %></p>
  </div>

  <div>
    <% if @user.id == current_user.id %>
    <%= link_to 'Revise', edit_post_path(@post), class: 'button'%>
    <%= button_to 'Delete', post_path(@post), class: 'button alert', method: :delete, data: {confirm: "Are you sure you want to delete #{@post.title}"}%>
    <% end %>
  </div>

  <div>
    <h3>Comments:</h3>
    <%= form_for @comment, :url => comments_path(@comment) do |f| %>
      <p><%= f.text_area :text_body, placeholder: 'What do you think?...', class: 'form-container center' %></p>
      <p><%= f.hidden_field :post_id, :value => @post.id%></p>
      <p><%= f.submit 'Add Comment', class: 'button secondary' %></p>
    <% end %>
    <% @comments.each do |comment| %>
      <div class = 'paragraphs'>
        <p><strong><%= comment.user.name.capitalize %> Says:</strong></p>
        <p><%= comment.text_body%></p>
      </div>
    <% end %>
  </div>

</div>
