<h1><%= @city.name %>, <%= @city.state %></h1>
<%=image_tag @city.photo, height: "400"%></br>
<%=link_to 'New Post! Hooray', new_city_post_path(@city), method: :get, class:'button'%>
<% @posts.each do |post| %>
<h4><%= post.title %></h4>
Posted <%= (DateTime.now.to_date - post.created_at.to_date).to_i%> days ago
<div> <%= post.text_body[0..1000] %></div>
<%= link_to 'Read More', city_post_path(@city,post) %>

<% end %>
